<form>
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Agregar Nombre" [(ngModel)]="employee.name">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Agregar department" [(ngModel)]="employee.department">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Agregar salary" [(ngModel)]="employee.salary">
    </div>


    <button type="button" (click)="createEmployee()" class="btn btn-primary">Agregar</button>
</form>